<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/board.css">
<title>게시판 등록</title>
</head>
<body>
    <!-- 소제목 -->
    <div class="page-title">
        <h2>게시판-등록</h2>
    </div>
    <!--// 소제목 end--------------------------------------------------------- -->
    <!-- contents -->
    <div calss="container">
      <div class="button-area">
        <input type="button" class="pc_button" value="목록">
        <input type="button" class="pc_button" value="등록">
    </div>
    
    <form action="#" class="container" name="reg_frm" id="reg_frm">
        <input type="hidden" name="word" value="">
        <!-- 제목 -->
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" maxlength="100" name="title" id="title" placeholder="제목을 입력하세요.">
        </div>
        <!-- 등록자 -->
        <div class="form-group">
            <label for="reg_id">등록자</label>
            <input type="text" maxlength="100" name="title" id="title" placeholder="제목을 입력하세요.">
        
        </div>
        <!-- 내용 -->
        <div class="form-group">
            <label for="contents">내용</label>
            <input type="text" maxlength="100" name="title" id="title" placeholder="제목을 입력하세요.">
        
        </div>
    </form>
    
    </div>
    <!-- // contents-------------------------------------------------------- -->
</body>
</html>